body{
  background-color: #303431;
  font-size: 25px;
  font-family: Alegreya SC;
  position: relative;
  width: 100%;
}
h1{
  color: yellow;
}
p{
  color: white;
}
#banner{
  text-align: center;
  background-image: url("image/alcohol-bar-beer.jpg");
  background-size: cover;
  padding: 100px;
}
#auteur{
text-align: right;
color: red;
padding-right: 175px;
font-family: Roboto;
}
.styled{
  background-color: #ffed00;
  border-color: #ffed00;
  font-family: Roboto;
  color: #303431;
  border-radius: 5px;
  display: block;
  margin : auto;
}
#conteneur{
    display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 200px;

}
button{
  color: #303134;
  background-color: #ffed00;
  border-color: #ffed00;
  border-radius: 2px;
  width: 300px;
  font-family: Roboto;
  outline: none;
}
#image{
  border-color: yellow; 
}
#accroche{
  text-align: justify-all;
  font-size: 16px;
  width: 300px;
  font-family: Roboto;
}
footer{
  background-color: black;
  font-family: Roboto;
  font-size: 12px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: auto;
}
#conteneur{
  background-color: white;
  padding-top: 2px;
  padding-bottom: 50px;
}
#cadre{
  border: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  background-color: #303134;
}